#slot-machine {
    margin: 5% auto 0 auto;
  }
  
  #playButton, #playButtonFixed {
    display: block;
    margin: 0 auto;
    width: 100px;
  }

  #blinktext {
    -webkit-animation: blink-text 800ms linear infinite;
    -moz-animation: blink-text 800ms linear infinite;
    -ms-animation: blink-text 800ms linear infinite;
    -o-animation: blink-text 800ms linear infinite;
     animation: blink-text 1000ms linear infinite;
    visibility: hidden; 
  }
  @-webkit-keyframes blink-text {
    0% { color: black; opacity: 1; }
    20% { color: black;opacity: .8; }
    30% { color: black;opacity: .6; }
    40% { color: black;opacity: .4; }
    50% { color: black;opacity: .2; }
    60% { color: black;opacity: 0; }
    70% { color: black;opacity: .2; }
    80% { color: black;opacity: .4; }
    90% { color: black;opacity: .6; }
    98% { color: black;opacity: .8; }
    100% { color: black;opacity: 1; }
  }
  @-moz-keyframes blink-text {
    0% { color: black; opacity: 1; }
    20% { color: black;opacity: .8; }
    30% { color: black;opacity: .6; }
    40% { color: black;opacity: .4; }
    50% { color: black;opacity: .2; }
    60% { color: black;opacity: 0; }
    70% { color: black;opacity: .2; }
    80% { color: black;opacity: .4; }
    90% { color: black;opacity: .6; }
    98% { color: black;opacity: .8; }
    100% { color: black;opacity: 1; }
  }
  @-ms-keyframes blink-text {
    0% { color: black; opacity: 1; }
    20% { color: black;opacity: .8; }
    30% { color: black;opacity: .6; }
    40% { color: black;opacity: .4; }
    50% { color: black;opacity: .2; }
    60% { color: black;opacity: 0; }
    70% { color: black;opacity: .2; }
    80% { color: black;opacity: .4; }
    90% { color: black;opacity: .6; }
    98% { color: black;opacity: .8; }
    100% { color: black;opacity: 1; }
  }
  @-o-keyframes blink-text {
    0% { color: black; opacity: 1; }
    20% { color: black;opacity: .8; }
    30% { color: black;opacity: .6; }
    40% { color: black;opacity: .4; }
    50% { color: black;opacity: .2; }
    60% { color: black;opacity: 0; }
    70% { color: black;opacity: .2; }
    80% { color: black;opacity: .4; }
    90% { color: black;opacity: .6; }
    98% { color: black;opacity: .8; }
    100% { color: black;opacity: 1; }
  }
  @keyframes blink-text {
    0% { color: black; opacity: 1; }
    20% { color: black;opacity: .8; }
    30% { color: black;opacity: .6; }
    40% { color: black;opacity: .4; }
    50% { color: black;opacity: .2; }
    60% { color: black;opacity: 0; }
    70% { color: black;opacity: .2; }
    80% { color: black;opacity: .4; }
    90% { color: black;opacity: .6; }
    98% { color: black;opacity: .8; }
    100% { color: black;opacity: 1; }
  }